<form action='<%= BASE_URL %>/timers/new' method='post'>
  <label for='timer_name'>
    Timer Name
    <input name='timer_name' id='timer_name' type='text'>
  </label>
  <input type='submit' value='Create new timer'>
</form>
